body{
  background-image:url( "SnowBackground.jpg");
  background-position: center;
 backgrond-repeat:vertical;
}

p{
  color:red;
  text-align:center;
  border:medium;
  font-size:20px
}

h2{
  text-align:center;
  color:green;
}

a{
  display:block;
  width:80px;
  background:#847777;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

a:link{
  color:green;
  text-decoration:none;
  border:3px red inset;
}

a:hover{
  border:3px black solid;
}

